<!DOCTYPE html>
<html>
	<head> 
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		
    	<script src="phaser.min.js"></script> 
		<script src="src/commons/Event.js"></script>
		<script src="src/CardView.js"></script>
		<script src="src/BoardView.js"></script>
		
		<script src="src/Dispatcher.js"></script>
		<script src="src/states/DistributionCardState.js"></script>
		<script src="src/states/WhoBeginsState.js"></script>
		<script src="src/PreloadState.js"></script>
		<script src="src/MainMenuState.js"></script>
		<script src="src/GameState.js"></script>
		<script>
			var mainMenuState = new MainMenuState(null);
			var gameState = new GameState(null);
			var game;
			var socket;
			
			(function() {
				game = new Phaser.Game(800, 600, Phaser.CANVAS, "MTG");
				game.state.add("Preload",preloadState);
				game.state.add("MainMenu",mainMenuState);
				game.state.add("Game",gameState);
				game.state.start("Preload");
			})(); 

			var dispatcher = new Dispatcher(game,mainMenuState,gameState);
			
			function sendEvent() {	
				var eventList = [];
				var jsonres = JSON.parse($('#stateData').val());
				eventList.push(new Event(parseInt($('#state').val()),jsonres));
				dispatcher.dispatch(eventList);
			};
			socket = io.connect('http://localhost:8080');
			socket.on('DISPATCHER', function(message) {
				dispatcher.dispatch(message.fnc,message);
			});
			
		</script>
		<style>
			body{margin:0}
    	</style>
    </head>
    <body>
		<div style="padding: 10; font-size: 11px; line-height: 150%;">
			<div style="clear: both">
				<label>Events:</label>
				<div>
					<select id="state">
						<option value="0">CREATE_GAME</option> 
						<option value="2">DISTRIBUTION</option> 
						<option value="2">CHANGE_CARD</option>
						<option value="3">POSE_CARD</option> 
					</select>
				</div>
			</div>
			<div style="clear: both">
				<label>Data:</label>
				<div>
					<input id="stateData" type="text" maxlength="100" style="width: 300px !important">
				</div>
			</div>
		</div>
		<button class="btn" onclick="sendEvent();">Send</button>
    </body>
</html>