.container{
        position: relative;
} 

.overlay{
      position: absolute;
      top: 0%;
      left:0%;
      z-index: 1000;
      border-radius: 30px;
      background: linear-gradient(#00ff00, grey);
      opacity: 0.8;
} 

#node-mine {
    display:none;
}

#node-extracteur {
    display:none;
}

#node-forge {
    display:none;
}

.bouton6 {
	border-radius:12px 0 12px 0;
	background: #478bf9;
	border:none;
	color:#fff;
	font:bold 24px Verdana;
	padding:6px 0 6px 0;
}

ul, ol{
    /*margin: 0;padding: 0;*/
    list-style: none;
}
li {
    background: #37BC9B;
    color: #fff;
    counter-increment: myCounter;
    margin: 0 0 30px 0;
    padding: 13px;
    position: relative;
    top: 1em;
    border-radius:  0em 2px 1em 1em;
    padding-left: 2em;
    font-size: 1.2em;
    font-family: Constantia;
}
li:before{
    content: counter(myCounter, decimal-leading-zero);
    display: inline-block;
    text-align: center;
    font-size: 2em;
    line-height: 1.3em;
    background-color:  #48CFAD;
    padding: 10px;
    font-weight: bold;
    position: absolute; 
    top: -10px;
    left: -40px;
    border-radius: 50%;
    font-family: exo;
}


li:nth-child(even){
    background-color: #434A54;
}